.meteology-card {
  background: white;
  flex: 1;

  h4 {
    padding: 0.5em;
    text-align: center;
  }

  .meteology-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em;
  }

  .wind-direction {
    display: flex;
    justify-content: center;
    padding: 2em 0 1em;
    grid-column: 1 / 3;
  }

  .weather-icon {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em;
    grid-column: 1 / 3;
    background-color: #f2efff;

    &.partly-cloudy {
      background-color: #e4e1f0;
    }

    &.cloudy {
      background-color: #e6e4f0;
    }

    &.rainy {
      background-color: #dbdae0;
    }
  }
}
