footer {
  display: flex;
  justify-content: center;
  padding: 2em;
  gap: 2em;
  z-index: 2;
  position: relative;
  background: var(--color-bg-blue);
  color: var(--color-text-white);

  .content {
    display: flex;
    width: 100%;
    max-width: 1024px;
    padding: 0 2em;
    gap: 1em;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      p {
        padding: 0;
      }

      &:last-child {
        flex: 1;
        justify-content: center;
      }
    }
  }

  a {
    color: var(--color-text-lightblue);

    &:hover {
      color: var(--color-text-blue);
    }
  }

  img {
    max-height: 15vw;
    min-height: 150px;
  }
}
