header {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poiret One", sans-serif;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .content {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0.5em 2em 0.5em 1em;
  }

  .no-internet {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bolder;
    background-color: orange;
    text-align: center;
  }

  & a {
    display: inline-flex;
    align-items: center;
    gap: 0.35em;
    text-decoration: none;
    font-weight: bolder;
    color: #2a1f43;
  }

  & nav {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 2em;

    & a {
      gap: 0.35em;
      font-size: 1.2em;
      text-decoration: none;
      font-weight: bolder;
      color: #2a1f43;
    }
  }

  @media screen and (max-width: 740px) {
    & nav {
      gap: 1.5em;
    }
  }
}
