header {
  font-family: "Poiret One", sans-serif;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  gap: 1em;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  & a {
    text-decoration: none;
    font-weight: bolder;
    color: #2a1f43;
  }

  & nav {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 1em;

    & a {
      font-size: 1.2em;
      text-decoration: none;
      font-weight: bolder;
      color: #2a1f43;
    }
  }
}
