/* Basic CSS */

:root {
  --color-bg-blue: #4f4f84;
  --color-bg-darkblue: #282842;
  --color-bg-aquablue: #a4fbe9;
  --color-bg-warning: #dce5b4;
  --color-bg-danger: #ffacac;
  --color-bg-green: #9dda9d;
  --color-text: #000;
  --color-text-white: white;
  --color-text-lightblue: #bfbfec;
  --color-text-blue: #9898c8;

  --header-height: 76px;
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

svg text {
  font-family: "Poiret One", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

.page {
  margin-top: var(--header-height);

  .title {
    position: sticky;
    top: var(--header-height);
    z-index: 1;
    background: var(--color-bg-blue);
    color: var(--color-text-white);
    padding: 0 2em;

    h1 {
      flex: 1;
    }

    .content {
      flex-direction: row;
      padding: 1em;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      width: 100vw;
      max-width: 1280px;
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 2em 2em 5em;
    }
  }
}

.content {
  h2,
  h3,
  p {
    padding-bottom: 1em;
  }

  p:last-child {
    padding-bottom: 0;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    font-family: "Poiret One", sans-serif;
  }

  .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .col-2-2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  blockquote {
    padding: 0.5em 0 0 1em;
    border-left: 5px solid;

    p {
      font-style: italic;
    }

    cite {
      font-size: 0.75em;
      text-align: right;
    }
  }

  @media screen and (max-width: 768px) {
    .col-2,
    .col-2-2_1 {
      display: flex;
      flex-direction: column;
    }
  }
}

a.button {
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: var(--color-bg-blue);
  color: var(--color-text-white);
  text-decoration: none;

  &:hover {
    background-color: var(--color-bg-darkblue);
  }
}

@media screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
}
