/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Basic CSS */

.map {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

section.scaler {
  height: 100svh;
  opacity: 0;
}

#mobile-sidebar {
  position: fixed;
  overflow: auto;
  display: grid;
  align-content: center;
  inset: 0;
  z-index: 1000;

  &:empty {
    display: none;
  }

  .leaflet-popup-content-wrapper {
    position: relative;
    margin: 5px;
    max-height: calc(100dvh - 10px);
    overflow: auto;
  }

  a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    text-align: center;
    width: 24px;
    height: 24px;
    font: 16px / 24px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
  }
}

.floating-panel {
  display: flex;
  flex-direction: column;

  z-index: 2;
  background: white;
  box-shadow: 0 1px 1px black;
  padding: 0.5em 0.75em;
  gap: 0.15em;

  text-decoration: none;
  color: black;

  & > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  &:hover {
    background-color: rgb(224, 208, 250);
    outline: 1px solid blue;
  }
}

svg text {
  font-family: "Poiret One", sans-serif;
}

.content {
  h2,
  h3,
  p {
    padding-bottom: 1em;
  }

  h2,
  h3 {
    font-weight: 700;
    font-family: "Poiret One", sans-serif;
  }

  .col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .col-2-2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  @media screen and (max-width: 768px) {
    .col-2,
    .col-2-2_1 {
      display: flex;
      flex-direction: column;
    }
  }
}
