.club-popup {
  display: flex;
  gap: 1em;

  & > div {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1;
    width: 100px;
    color: transparent;
  }

  .description {
    display: flex;
    gap: 1em;

    .name {
      font-size: 1.5em;
      font-family: "Poiret One", sans-serif;
      font-weight: bolder;
    }
  }
}

.bridge-popup {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > div {
    display: flex;
    flex-direction: column;
    min-width: 250px;
  }

  .photo {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    min-height: 250px;
  }

  .description {
    display: flex;
    gap: 1em;

    .name {
      font-size: 1.5em;
      font-family: "Poiret One", sans-serif;
      font-weight: bolder;
    }
  }
}

.leaflet-popup-content-wrapper:has(.bridge-popup) {
  .leaflet-popup-content {
    margin-right: 8px;
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.leaflet-popup-content-wrapper {
  background-color: white;
  border-radius: 0;

  .leaflet-popup-content {
    margin-left: 8px;
  }
}

.leaflet-marker-icon.leaflet-interactive svg {
  transform-origin: 50% 95%;
  transition: all 0.2s;
}

.leaflet-marker-icon.leaflet-interactive:hover svg {
  transform: scale(1.2);
}
